---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { TypeCard } from '../enums/cardEnums'
import { IoMdMail } from 'react-icons/io'
import About from '../components/About.astro'
import { GrProjects } from 'react-icons/gr'
import { SlSocialFacebook } from 'react-icons/sl'
import { SlSocialLinkedin } from 'react-icons/sl'
import { FaInstagram } from 'react-icons/fa6'
import { FaGithub } from 'react-icons/fa'
import { IoMdContacts } from 'react-icons/io'
import { IoDocumentText } from 'react-icons/io5'
import { FaClipboardList } from 'react-icons/fa6'
import { FaChildReaching } from 'react-icons/fa6'
import { IoCreateSharp } from 'react-icons/io5'
import Skills from '../components/Skills.astro'
---

<Layout title='Jhonny'>
  <main>
    <section class='flex flex-col items-center gap-4 p-4'>
      <!-- about -->
      <About />
      <!--  -->

      <!-- first row -->
      <div
        class='flex gap-2 flex-col md:flex-row items-center justify-center md:justify-normal md:w-[1024px]'
      >
        <!-- projects -->
        <Card
          href='/projects'
          type={TypeCard.BIG}
          name='Proyectos'
          className='text-white bg-[#002C54] hover:bg-[#011f43]'
        >
          <GrProjects className='hidden md:block' slot='icon' color='#fff' size={250} />
          <GrProjects className='block md:hidden' slot='icon' color='#fff' size={100} />
        </Card>
        <!--  -->
        <!-- first column -->
        <div class='flex md:flex-col md:justify-start gap-1 md:gap-2 md:h-[400px]'>
          <!-- contact -->
          <Card
            type={TypeCard.TINY}
            name='Contacto'
            className='text-white bg-[#002C54] hover:bg-[#011f43]'
            href='/contact'
          >
            <IoMdContacts className='hidden md:block' slot='icon' color='#fff' size={100} />
            <IoMdContacts className='block md:hidden' slot='icon' color='#fff' size={50} />
          </Card>
          <!--  -->
          <!-- desktop download cv -->
          <Card
            type={TypeCard.TINY}
            name='Descargar C.V'
            className='text-white hidden md:flex bg-[#002C54] hover:bg-[#011f43]'
            href='/public/CV-JhonnyZambranoSaavedra.pdf'
            target_blank={true}
          >
            <IoDocumentText slot='icon' color='#fff' size={100} />
          </Card>
          <!--  -->
          <!-- mobile download cv -->
          <Card
            type={TypeCard.TINY}
            name='⬇︎ C.V'
            className='text-white block md:hidden bg-[#002C54] hover:bg-[#011f43]'
            href='/public/CV-JhonnyZambranoSaavedra.pdf'
            target_blank={true}
          >
            <IoDocumentText slot='icon' color='#fff' size={50} />
          </Card>
          <!--  -->
        </div>
        <!--  -->
        <!-- desktop social networks -->
        <Card
          type={TypeCard.BIG}
          name='Redes sociales'
          className='text-white md:w-[408px] bg-[#cd7213] hover:bg-[#cd5900]  hidden md:flex cursor-default'
        >
          <div class='flex flex-col gap-6' slot='icon'>
            <div class='flex gap-6'>
              <a
                href='https://github.com/Jhonny91360'
                target='_blank'
                class='transform transition-transform duration-300 hover:scale-105 hover:shadow-lg'
                ><FaGithub slot='icon' color='#fff' size={100} />
              </a>
              <a
                href='https://www.linkedin.com/in/jhonnyzamsa/'
                target='_blank'
                class='transform transition-transform duration-300 hover:scale-105 hover:shadow-lg'
              >
                <SlSocialLinkedin slot='icon' color='#fff' size={100} />
              </a>
            </div>

            <div class='flex gap-6'>
              <a
                href='https://www.facebook.com/JhonnyZam/'
                target='_blank'
                class='transform transition-transform duration-300 hover:scale-105 hover:shadow-lg'
              >
                <SlSocialFacebook slot='icon' color='#fff' size={100} />
              </a>
              <a
                href='https://www.instagram.com/jhonny0920/'
                target='_blank'
                class='transform transition-transform duration-300 hover:scale-105 hover:shadow-lg'
              >
                <FaInstagram slot='icon' color='#fff' size={100} />
              </a>
            </div>
          </div>
        </Card>
        <!--  -->
        <!-- mobile social networks -->
        <Card
          type={TypeCard.BIG}
          name='Redes sociales'
          className='text-white bg-[#cd7213] hover:bg-[#cd5900] block md:hidden'
        >
          <div class='flex flex-col gap-6 justify-center items-center' slot='icon'>
            <div class='flex gap-6 justify-center items-center pr-5'>
              <a href='https://github.com/Jhonny91360' target='_blank'>
                <FaGithub slot='icon' color='#fff' size={50} />
              </a>
              <a href='https://www.linkedin.com/in/jhonnyzamsa/' target='_blank'>
                <SlSocialLinkedin slot='icon' color='#fff' size={50} />
              </a>
            </div>
            <div class='flex gap-6 justify-center'>
              <a href='https://www.facebook.com/JhonnyZam/' target='_blank'>
                <SlSocialFacebook slot='icon' color='#fff' size={50} />
              </a>
              <a href='https://www.instagram.com/jhonny0920/' target='_blank'>
                <FaInstagram slot='icon' color='#fff' size={50} />
              </a>
            </div>
          </div>
        </Card>
        <!--  -->
      </div>
      <!--  -->

      <!-- second row -->
      <div class='flex flex-col md:flex-row gap-2 items-center md:w-[1024px]'>
        <!-- technologies -->
        <Skills className='md:w-[608px] h-[600px]' />
        <!--  -->

        <!-- second column -->
        <div class='flex flex-col gap-2 md:h-[400px]'>
          <!-- experiencie -->
          <Card
            type={TypeCard.TINY}
            name='Experiencia'
            className='text-white w-full max-w-[320px] md:max-w-none md:w-[408px] bg-[#6b21a8]  hover:bg-purple-900'
            href='/experience'
          >
            <FaClipboardList className='hidden md:block' slot='icon' color='#fff' size={100} />
            <FaClipboardList className='block md:hidden' slot='icon' color='#fff' size={50} />
          </Card>
          <!--  -->

          <!-- second row -->
          <div class='flex gap-2'>
            <!-- training -->
            <Card
              type={TypeCard.TINY}
              href='/education'
              name='Formación'
              className='text-white md:w-[196px] bg-[#efb509] hover:bg-[#efa509]'
            >
              <FaChildReaching className='hidden md:block' slot='icon' color='#fff' size={100} />
              <FaChildReaching className='block md:hidden' slot='icon' color='#fff' size={50} />
            </Card>
            <!--  -->

            <!-- services -->
            <Card
              type={TypeCard.TINY}
              name='Servicios'
              className='text-white md:w-[196px] bg-[#efb509] hover:bg-[#efa509]'
              href='/services'
            >
              <IoCreateSharp className='hidden md:block' slot='icon' color='#fff' size={100} />
              <IoCreateSharp className='block md:hidden' slot='icon' color='#fff' size={50} />
            </Card>
            <!--  -->
          </div>
          <!--  -->
        </div>
        <!--  -->
      </div>
      <!--  -->
    </section>
  </main>
</Layout>
