---
import { TiArrowForward } from 'react-icons/ti'
import { SiQuicklook } from 'react-icons/si'
interface Props {
  title: string
  description: string
  technologies: string[]
  image: string
  githubLink: string
  deploy?: string
  className?: string
  technologyColorTag: string
}
const {
  title,
  description,
  githubLink,
  image,
  technologies,
  deploy,
  className,
  technologyColorTag
} = Astro.props
---

<section
  class={`flex flex-col  gap-6 bg-[#16253d] bg-opacity-5 backdrop-blur-custom  border-[#002c54] shadow-2xl p-4 rounded-lg ${className}`}
>
  <header>
    <p class='text-3xl font-bold text-white'>
      {title}
    </p>
  </header>
  <p class='text-xl text-white'>
    {description}
  </p>
  <div class='flex gap-2 flex-wrap overflow-y-hidden text-white'>
    {
      technologies.map(technology => {
        return (
          <span
            class={`${technologyColorTag} fromLeft text-white text-base font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300`}
          >
            {technology}{' '}
          </span>
        )
      })
    }
  </div>
  <img src={image} alt='' srcset='' class='rounded shadow-2xl shadow-white/10' />
  <div class='flex flex-wrap gap-2 mt-auto items-center md:items-start text-white'>
    {
      deploy && (
        <a
          class='font-semibold  flex gap-2 items-center rounded-xl px-4 py-1  hover:bg-gray-300 hover:text-black'
          target='_blank'
          href={deploy}
        >
          <span class='underline whitespace-nowrap'>Visita la página</span>
          <SiQuicklook />
        </a>
      )
    }
    <a
      class='font-semibold flex gap-2 items-center rounded-xl px-4 py-1 hover:bg-gray-300 hover:text-black'
      target='_blank'
      href={githubLink}
    >
      <span class='underline hitespace-nowrap'>Mira el código aquí</span>
      <TiArrowForward />
    </a>
  </div>
</section>
